@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf');
}

.menu__item {
	font: 900 18px Roboto;
}

.section-title__title {
	font: 900 40px Roboto;
}

.section-title__description {
	font: 900 20px/23px Roboto;
}

.section-title__buy {
	font: 900 20px Roboto;
}

.section-ticket__subtitle {
	font: 500 30px/35px Roboto;
}

.section-ticket__cost {
	font: 900 30px Roboto;
}

.section-ticket__buy {
	font: 900 20px Roboto;
}

.section-ticket__booking {
	font: 900 20px Roboto;
}

.section-applycation-content-left__subtitle {
	font: 900 30px Roboto;
}

.section-applycation-content-left__participation {
	font: 900 20px Roboto;
}

.section-applycation-content__applyfor {
	font: 900 20px Roboto;
}

.section-speaker__subtitle {
	font: 500 30px/35px Roboto;
}

.section-footer__content {
	font: 900 18px Roboto;
}

.section-footer-content-contacts__phone {
	line-height: 30px;
}

@media (min-width: 1920px) {
	.menu__item {
		font-size: 30px;
 	}

	.section-title__title {
		font-size: 74px;
	}

	.section-title__description {
		font-size: 36px;
		line-height: 45px;
	}

	.section-title__buy {
		font-size: 32px;
	}

	.section-ticket__subtitle {
		font-size: 40px;
		line-height: 53px;
	}

	.section-ticket__cost {
		font-size: 40px;
	}

	.section-ticket__buy {
		font-size: 30px;
	}

	.section-ticket__booking {
		font-size: 30px;
	}

	.section-applycation-content-left__subtitle {
		font-size: 35px;
	}

	.section-applycation-content-left__participation {
		font-size: 24px;
	}

	.section-applycation-content__applyfor {
		font-size: 24px;
	}

	.section-speaker__subtitle {
		font-size: 40px;
		line-height: 40px;
	}

	.section-footer__content {
		font-size: 25px;
	}

	.section-footer-content-contacts__phone {
		line-height: 38px;
	}
}	

@media (max-width: 1439px) {
	.menu__item {
		font-size: calc(12px + (18 - 12) * ((100vw - 768px) / (1439 - 768)));
 	}

	.section-title__title {
		font-size: calc(30px + (40 - 30) * ((100vw - 768px) / (1439 - 768)));
	}

	.section-title__description {
		font-size: calc(15px + (20 - 15) * ((100vw - 768px) / (1439 - 768)));
	}

	.section-title__buy {
		font-size: calc(15px + (20 - 15) * ((100vw - 768px) / (1439 - 768)));
	}

	.section-ticket__subtitle {
		font-size: calc(20px + (30 - 20) * ((100vw - 768px) / (1439 - 768)));
	}

	.section-ticket__cost {
		font-size: calc(25px + (30 - 25) * ((100vw - 768px) / (1439 - 768)));
	}

	.section-applycation-content-left__subtitle {
		font-size: calc(20px + (30 - 20) * ((100vw - 768px) / (1439 - 768)));
	}

	.section-applycation-content-left__participation {
		font-size: calc(11px + (20 - 11) * ((100vw - 768px) / (1439 - 768)));
	}

	.section-applycation-content__applyfor {
		font-size: calc(15px + (20 - 15) * ((100vw - 768px) / (1439 - 768)));
	}
}

@media (max-width: 767px) {
	.menu__item {
		font-size: 20px;
	}

	.section-title__title {
		font-size: 30px;
	}

	.section-title__description {
		font-size: 15px;
		line-height: 18px;
	}

	.section-title__buy {
		font-size: 15px;
	}

	.section-ticket__subtitle {
		font-size: 20px;
		line-height: 23px;
	}

	.section-ticket__cost {
		font-size: 20px;
	}

	.section-applycation-content-left__subtitle {
		font-size: 20px;
	}

	.section-applycation-content-left__participation {
		font-size: 10px;
	}

	.section-applycation-content__applyfor {
		font-size: 20px;
	}

	.section-speaker__subtitle {
		font-size: 20px;
		line-height: 23px;
	}

	.section-footer__content {
		font-size: 8px;
	}

	.section-footer-content-contacts__phone {
		line-height: 12px;
	}
}
